/************************************************************************     
	editor 
		A CSS that decorate editor view.

    Created by Chainarong Tumapha (Bright) 58070503409
            2 Dec. 2017  
 ***********************************************************************/

.root 
{
	-fx-background-radius: 0;
	-fx-background-color: #FAFAFA;
}

.button 
{
	-fx-base: #1565C0;
	-fx-background-radius: 0;
	-fx-border-color: #19212a;
	-fx-text-fill: #FAFAFA;
}

.scroll-bar>*.thumb 
{
	-fx-background-radius: 0;
	-fx-background-color: #b9b9b9;
}

.scroll-bar:horizontal 
{
	-fx-background-color: #e6e6e6;
}

.scroll-bar:vertical 
{
	-fx-background-color: #e6e6e6;
}

.text-field 
{
	-fx-background-radius: 0;
}
